*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
ul{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    
}
.li1{
    margin-right: 51px;
}
header{
    background-color: #91b2ff;
    height: 45px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
    font-size: xx-large;
}
.li1{
    margin-right: 51px;
}
.li2{
    margin-right: 51px;
}
form{
    margin-top: 20px;
}
input{
    margin-top: 10px;
    height: 30px;
    width: 357px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 0.51rem;
}
button{
   border: none;
   background-color: #91b2ff;
   font-size: x-large;
   cursor: pointer;
   border-radius: 1rem;
   width: 100px;
}
label{
    display: flex;
    font-size: xx-large;
}